.draggable-block-menu-light {
	border-radius: 4px;
	padding: 2px 1px;
	cursor: grab;
	opacity: 0;
	position: absolute;
	left: 20;
	top: 0;
	will-change: transform;
}
.draggable-block-menu-dark {
	border-radius: 4px;
	padding: 2px 1px;
	cursor: grab;
	opacity: 0;
	position: absolute;
	left: 20;
	top: 0;
	will-change: transform;
}

.draggable-block-menu-light .icon-light {
	width: 16px;
	height: 16px;
	justify-content: center;
	text-align: center;
	opacity: 0.3;
	/* background-image: url(../images/draggable-block-menu.svg); */
	color: black;
}

.draggable-block-menu-dark .icon-dark {
	width: 16px;
	height: 16px;
	justify-content: center;
	text-align: center;
	opacity: 0.3;
	/* background-image: url(../images/draggable-block-menu.svg); */
	color: white;
}

.draggable-block-menu-dark:active,
.draggable-block-menu-light:active {
	cursor: grabbing;
}

.draggable-block-menu-light:hover {
	background-color: #efefef;
}

.draggable-block-menu-dark:hover {
	background-color: #5f5a5a;
}

.draggable-block-target-line {
	pointer-events: none;
	background: deepskyblue;
	height: 4px;
	position: absolute;
	left: 0;
	/* bottom: 40; */
	top: 0;
	opacity: 0;
	will-change: transform;
}
